<div class="settings hide" id="settings">
  <div class="desks">
    <div class="add">
      <input type="text" maxlength="20">
      <input type="button">
    </div>
    <ul>
      <li class="current"><a href="{{desk._id}}" class="desk">{{desk.settings.title}}<span> ({{#if
            desk.settings.private}}private{{else}}public{{/if}})</span></a><input type="button" class="edit-desk"
          value="edit"><input type="button" class="delete-desk" value="delete"></li>
      {{#each desks}}
      <li><a href="{{_id}}" class="desk">{{settings.title}} ({{#if
          settings.private}}private{{else}}public{{/if}})</a><input type="button" class="delete-desk" value="delete">
      </li>
      {{/each}}
    </ul>
  </div>

  <ul class="desk-settings">
    <li class="preference" id="private-desk"><input type="checkbox" {{#if
        desk.settings.private}}{{else}}{{/if}}>Private
      desk</li>
    <li class="preference" id="editable-desk"><input type="checkbox" {{#if
        desk.settings.editable}}checked{{else}}{{/if}}>Editable {{settings.private}}</li>
  </ul>

</div>