<ul class="tasks" id="tasks">
  {{#if desk.tasks.length}}
  {{#each desk.tasks}}
  <li class="{{#if metadata.important}}important{{/if}}
  {{#if metadata.multi}}multi{{/if}}
  {{#if metadata.done}}done{{/if}}">
    <div class="task-text">
      {{#if metadata.multi}}
      <div class="title">
        <input type="checkbox">
        {{data.title}}
      </div>
      <ul class="subtasks">
        {{#each data.subtasks}}
        <li {{#if done}}class="done" {{/if}}>
          <input type="checkbox" {{#if done}}class="done" {{/if}}>
          {{data}}
          <input type="hidden" class="id" value="{{_id}}">
        </li>
        {{/each}}
      </ul>
      {{else}}
      <input type="checkbox">
      {{{data.title}}}
      {{/if}}
    </div>
    <div class="data">
      <div class="date">{{metadata.date}}</div>
      <div>
        {{metadata.author}}
        {{#if metadata.private}} (private){{/if}}
        <input type="button" class="edit-task" value="edit">
      </div>
    </div>
    <input type="hidden" class="id" value="{{_id}}">
    <input type="button" class="delete">
  </li>
  {{/each}}
  {{/if}}
</ul>